* {
      box-sizing: border-box;
      font-family: 'Nunito', sans-serif;
    }

    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background: linear-gradient(135deg, #00c3ff, #ffff1c);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      background: linear-gradient(135deg, #fefcea, #f1da36); /* Color tipo sol */
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
      width: 360px;
      text-align: center;
      animation: fadeIn 1s ease-in-out;
    }

    h2 {
      color: #2d3436;
      margin-bottom: 20px;
    }

    label {
      display: block;
      text-align: left;
      margin-bottom: 6px;
      color: #333;
      font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px;
      margin-bottom: 18px;
      border: 1px solid #ccc;
      border-radius: 8px;
      transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      border-color: #00a8ff;
      outline: none;
    }

    input[type="submit"] {
      width: 100%;
      padding: 12px;
      background: linear-gradient(to right, #00b894, #00cec9);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s;
    }

    input[type="submit"]:hover {
      background: linear-gradient(to right, #0984e3, #6c5ce7);
    }

    #resultado {
      margin-top: 10px;
      color: #d63031;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }
     table {
      margin: auto;
      border-collapse: collapse;
      width: 50%;
    }
    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: center;
    }
    body {
      margin: 300px;
      height: 100vh;
      display: flex;
      justify-content: center;  /* centra horizontalmente */
      align-items: center;      /* centra verticalmente */
    }
    table {
      border-collapse: collapse;
      width: 50%;
      margin: 300px;
    }

    th, td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }
    .boton{
        border-radius: 100px;
    }